body {
  margin: 0;
  padding: 0;
  background-color: #5e5149;
}

.container {
  width: 500px;
  height: 620px;
  text-align: center;
  background-color: rgba(44, 62, 80, 0.7);
  margin: 20px auto;
}

input[type="text"],
input[type="password"] {
  margin-top: 30px;
  height: 45px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #fff;
  padding-left: 40px;
}

.btn-register {
  padding: 15px 25px;
  border: none;
  background-color: #27ae60;
  color: #fff;
  cursor: pointer;
}
